html {
  height: 100vh;
}

body {
  position: relative;  
  margin: 0; 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  
  background-color: #95BF74;
  font-family: Ubuntu, sans-serif; 
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  
  background-image: url(../Gallery/Backgroung-Img.PNG);
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  
  background-color: pink;
}

.logo-container {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
}

main {
  height: 50vh;
}







.c1 {
  background-color: #99DDC8;
}

.c2 {
  background-color: #95BF74;
}

.c3 {
  background-color: #659B5E;
}

.c4 {
  background-color: #556F44;
}

.c5 {
  background-color: #283F3B;
}


