nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.burger {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 2px black
}

.burger span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 1px 0px;
  border-radius: 10px;
  background-color: #99DDC8;
}

.menu-draw {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
    
  width: 30vw;
  border-left: 3px solid white;
  
  background-color: rgba(255,255,255,0.8);
  
  transition: right 0.5s ease-in-out;
}

.nav-item {
  margin-left: 10px;
  padding: 10px 0;
  font-size: 2em;
}

.showMenu {
  right: 0vw;
}
